# Spring Boot specific
/target/
/build/


# IDE
.idea/
*.iml
*.iws
*.ipr

# Logs
/logs/

# Maven
.mvn/

# Gradle
.gradle/
build/

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Miscellaneous
.DS_Store





